In [18]:
from sklearn.preprocessing import MinMaxScaler
import pickle
import pandas as pd
import numpy as np

with open('trained_model-001.pkl', 'rb') as file:
    model=pickle.load(file)
with open('orden_variables_entrada_modelo.txt', 'r') as  doc:
    lines=doc.readlines()
orden_variables=[]
for line in lines:
    orden_variables.append(line.replace("\n",''))

In [19]:
df=pd.DataFrame(columns=orden_variables)

In [20]:
answer={"store_type":"Gourmet Supermarket","store_state":"Zacatecas","grocery_sqft":"15012","frozen_sqft":"4193","coffee_bar":"1","video_store":"0","prepared_food":"1","florist":"0","media_type":"Daily Paper","marital_status":"M","gender":"F","total_children":"5","education":"Partial College","member_card":"Bronze","occupation":"Professional","houseowner":"N","avg_cars_at home(approx)":"4","avg. yearly_income":"$90K - $110K","num_children_at_home":"4","SRP":"2.8","net_weight":"17.8","recyclable_package":"1","low_fat":"0","units_per_case":"32","food_family":"Food","unit_sales(in millions)":"1","promotion_name":"Price Smashers","sales_country":"USA"}

In [21]:
df_response=pd.DataFrame(answer,index=[0])
df_response_dummies=pd.get_dummies(df_response)
df_response_dummies

,store_type_Gourmet Supermarket,store_state_Zacatecas,grocery_sqft_15012,frozen_sqft_4193,coffee_bar_1,video_store_0,prepared_food_1,florist_0,media_type_Daily Paper,marital_status_M,...,num_children_at_home_4,SRP_2.8,net_weight_17.8,recyclable_package_1,low_fat_0,units_per_case_32,food_family_Food,unit_sales(in millions)_1,promotion_name_Price Smashers,sales_country_USA
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1